/***************** HEADER *********************/

.main-header { /*border: 1px solid black;*/

	/*background-image: url(header-bg.jpg); */
	background-repeat: no-repeat;	
	max-height: 153px;
	padding-bottom: 1%
}

#title { /*border: 1px solid green;
*/
	color: white;
	font-size: 3em;
	font-family: 'Dancing Script';
	font-weight: 50%;
	margin: 1%;
	text-align: center;
	word-spacing: 0.3em;
}

a:link {
	color: black;
}

a:hover {
	color: white;
}

a {
	color: black;
	text-decoration: none;
}

header ul {
	text-align: center;
}

header li {border: 1px solid red;

	display: inline-block;
	list-style-type: none;
	margin-right: 5px;
	max-width: 75px;
	word-spacing: 0.2em;
}

body {
		/*background-image: url(blueBackground.jpg);*/
	background-color: forestgreen;
}

/******************** FONTS ********************/

/*h1{
	font-size: 1.75em;
	font-weight: normal;
	line-height: .08em;
}

h2 {
	font-size: .75em;
	margin: -5px 0 0;
	font-weight: normal;
}*/

/***************** TOP LEFT NAV ******************/

.body {
	/*border: 1px solid #000;*/
	/*background-color: lightblue;*/
	float: left;
	margin: 5px;
	padding: 10px;
	width: 30%;
	min-width: 300px;


}


/***************** SECTION *********************/

section {
	min-width: 50%;
	overflow: auto;

}


.article1 {
	/*border: 1px solid #000;*/
	/*background-color: pink;*/
	margin: 5px;
	padding: 10px;
	width: auto;
}

.article2 {
	/*border: 1px solid #000;*/
	/*background-color: mediumorchid;*/
	margin: 5px;
	padding: 10px;
	width: auto;  
	
}

.content {
	float: left;
	width: 65%;
}

.footer {
	/*border: 1px solid #000;*/
	margin: 5px;
	padding: 10px;
	overflow: auto;
	width: 90%;
}


/************** BOTTOM FOOTER ****************/

.end {
	/*border: 1px solid #000;*/
	/*background-color: orange;*/
	margin: 5px;
	padding: 10px;

}



/******** PICTURES *******/

.web-design {
	min-width: 25%;
}

img.small {
	-webkit-box-shadow: inset 3px 0px 38px 27px rgba(34,139,34,1);
	-moz-box-shadow: inset 3px 0px 38px 27px rgba(34,139,34,1);
	box-shadow: inset 3px 0px 38px 27px rgba(34,139,34,1);	
	height: 100%;
	width: 100%;
}

img.large {
	margin-left: 15px;
	width: 30%;
	height: 30%;
}

n






